<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} - 레일스 걸스</title>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ site.baseurl }}/js/prefixfree.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/js/jquery.cookie.js"></script>
    <script src="{{ site.baseurl }}/js/guides.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/code.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/favicon.png" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <div class="container">
        <a class="span3" href="{{ site.baseurl }}" id="logo">
          <img alt="Rails Girls Guides" src="{{ site.baseurl }}/images/railsgirls-guides.png" />
        </a>
        <nav></nav>
      </div>
    </header>
    <article class="container">
      <div class="span10">
        {{ content }}
      </div>
    </article>
    <footer>
      <p>
        이 저작물의 이용은 
        <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.ko">저작자 표시-동일조건변경허락 3.0</a>을 따릅니다.
      </p>
      <p>
        <a href="http://railsgirls.com">레일스 걸스</a>
        &middot; 핀란드 헬싱키에서 두근거리며 만들었음 &middot; 
        <a href="http://twitter.com/railsgirls">트위터</a>와 
      
        <a href="https://www.facebook.com/railsgirls">페이스북</a>을 팔로우하세요.
      </p>
    </footer>
    <script type="text/javascript">
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount", ""]);
        _gaq.push(["_trackPageview"]);

        (function() {
          var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
          ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
          var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </body>
</html>
